<h1>Existing Stock Snapshots</h1>
<ul>
    <% @stock_snapshots.each do |stock_snapshot| %>
        <li>
            <%= link_to stock_snapshot.ticker, stock_snapshot %>
        </li>
    <% end %>
</ul>