<h1>Stock Snapshot add form</h1>
<div>
    <label>Ticker</label>
    <input type="text" />
</div>
<div>
    <label>Prominent?</label>
    <input type="checkbox" />
</div>
<div>
    <label>Dividend?</label>
    <input type="checkbox" />
</div>
<div>
    <label>Total Assets</label>
    <input type="text" />
</div>
<div>
    <label>Total Intangibles</label>
    <input type="text" />
</div>
<div>
    <label>Total Goodwill</label>
    <input type="text" />
</div>
<div>
    <label>Total Current Assets</label>
    <input type="text" />
</div>
<div>
    <label>Total Liabilities</label>
    <input type="text" />
</div>
<div>
    <label>Total Longterm Debt</label>
    <input type="text" />
</div>
<div>
    <label>Total Current Liabilities</label>
    <input type="text" />
</div>
<div>
    <label>Market Cap (millions)</label>
    <input type="text" />
</div>
<div>
    <label>Market Price</label>
    <input type="text" />
</div>
<div>
    <label>EPS This Year</label>
    <input type="text" />
</div>
<div>
    <label>EPS Last Year</label>
    <input type="text" />
</div>
<div>
    <label>EPS 2y ago</label>
    <input type="text" />
</div>
<div>
    <label>EPS 3y ago</label>
    <input type="text" />
</div>
<div>
    <label>EPS 4y ago</label>
    <input type="text" />
</div>
<div>
    <label>EPS 5y ago</label>
    <input type="text" />
</div>
<div>
    <label>EPS 6y ago</label>
    <input type="text" />
</div>
<div>
    <label>EPS 7y ago</label>
    <input type="text" />
</div>
<div>
    <label>EPS 8y ago</label>
    <input type="text" />
</div>
<div>
    <label>EPS 9y ago</label>
    <input type="text" />
</div>
<button>Create Snapshot</button>
<h1>Existing Stock Snapshots</h1>
<ul>
    <% @stock_snapshots.each do |stock_snapshot| %>
        <li>
            <a href="<%= stock_snapshot_path(stock_snapshot) %>">
                <%= stock_snapshot.ticker %>
            </a>
        </li>
    <% end %>
</ul>